# Python venv
.venv/
service-account NO SYNC/
04_data-pipeline/data/
04_data-pipeline/config.yaml
*.csv


# VS Code
.vscode/

# Service Account Keys (niemals committen)
service-account NO SYNC/
*.json

# Data-Exporte
04_data-pipeline/data/
*.csv

